/** ant design theme **/
.form-genki-block .form-group {
    display: flex;
    align-items: center;
}
.form-genki-block .form-group label {
    line-height: 39.9999px;
    white-space: nowrap;
    text-align: right;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
    margin-right: 8px;
    user-select: none;
}
/** input */
.form-genki-block .form-group input, .form-genki-select-wrapper {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all 0.3s;
    height: 32px;
    width: 100%;
    line-height: 40px;
    touch-action: manipulation;
    padding: 4px 11px;
    box-sizing: border-box;
}
.form-genki-block .form-group input:focus, .form-genki-select-wrapper:active {
    border-color: #40a9ff;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
}
.form-genki-select-wrapper {
    position: relative;
}
.form-genki-select {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 30px;
    margin-left: 11px;
    touch-action: manipulation;
    user-select: none;

}
.form-genki-select-wrapper .form-genki-arrow {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 50%;
    right: 11px;
    margin-top: -6px;
    color: rgba(0,0,0,.25);
    font-size: 12px;
    line-height: 1;
    transform-origin: 50% 50%;
    transition: transform .3s;
}

.form-genki-select-wrapper .form-genki-select-items {
    position: absolute;
    top: 33px;
    left: 0;
    display: none;
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    color: rgba(0, 0, 0, .65);
    z-index: 1050;
    max-height: 250px;
    padding: 4px 0;
    list-style: none;
    overflow: auto;
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}
.form-genki-select-wrapper .form-genki-select-items li {
    position: relative;
    display: block;
    padding: 5px 12px;
    overflow: hidden;
    color: rgba(0,0,0,.65);
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    transition: background .3s ease;
}

.form-genki-select-wrapper .form-genki-select-items li:hover {
    background-color: #e6f7ff;
}

/** date picker **/
.form-genki-calendar-wrapper {
    width: 100%;
    position: relative;
}

.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table {
    text-align: center;
    border: 0;
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
}
.form-genki-calendar-wrapper .table-body {
    padding: 8px 12px;
}

.form-genki-calendar-wrapper .form-genki-calendar-wrapper-input {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    outline: none;
    cursor: text;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    height: 32px;
    padding: 4px 11px;
    color: rgba(0,0,0,.65);
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.form-genki-calendar-wrapper .form-genki-calendar-wrapper-input .form-genki-calendar-wrapper-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    z-index: 1;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    display: inline-block;
    color: rgba(0,0,0,.25);
    font-size: 14px;
    line-height: 1;
}

.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-th {
    text-align: center;
    border: 0;
    width: 33px;
    padding: 6px 0;
    line-height: 18px;
}
.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-th div {
    font-size: 14px;
    font-weight: 400;
    font-variant: tabular-nums;
    font-feature-settings: 'tnum';
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,pingfang sc,hiragino sans gb,microsoft yahei,helvetica neue,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}
.form-genki-calendar-wrapper td {
    height: 30px;
    padding: 3px 0;
}
.form-genki-calendar-wrapper td .form-genki-calendar-wrapper-cell {
    display: block;
    font-size: 14px;
    line-height: 1.5;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    padding: 0;
    color: rgba(0,0,0,.25);
    background: 0 0;
    border-color: transparent;
    line-height: 22px;
    text-align: center;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: 2px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    font-feature-settings: 'tnum';
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,pingfang sc,hiragino sans gb,microsoft yahei,helvetica neue,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    cursor: pointer;
}

.form-genki-calendar-wrapper td .current-days {
    color: rgba(0,0,0,.65);
}
.form-genki-calendar-wrapper td .current-days:hover {
    background: #e6f7ff;
    cursor: pointer;
}
.form-genki-calendar-wrapper td .selected {
    background: #bae7ff;
}
.form-genki-calendar-wrapper .form-genki-calendar-panel-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #fff;
    border-radius: 4px;
    outline: none;
    -webkit-box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
    box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
}

.form-genki-calendar-wrapper .form-genki-calendar-wrapper-pop-input {
    height: 34px;
    padding: 6px 10px;
    border-bottom: 1px solid #e8e8e8;
    color: rgba(0,0,0,.65);
    box-sizing: border-box;
}
.form-genki-calendar-wrapper .form-genki-calendar-wrapper-pop-input input {
    border: none;
    width: 100%;
    height: 22px;
    color: rgba(0,0,0,.65);
    background: #fff;
    border: 0;
    outline: 0;
    cursor: auto;
}
/* .form-genki-calendar-wrapper .form-genki-calendar-panel {
 
} */
.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-header {
    position: relative;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
    user-select: none;
}

.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-header span {
    color: rgba(0,0,0,.85);
    font-weight: 500;
    line-height: 40px;
    cursor: pointer;
}
.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-header span .year-select:hover,
.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-header span .month-select:hover {
    color: #40a9ff;
}

.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-header span .year-select {
    padding: 0 2px;
}

.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-footer {
    padding: 0 12px;
    line-height: 38px;
    border-top: 1px solid #e8e8e8;
    text-align: center;
}

.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-footer a {
    color: #1890ff;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    -webkit-transition: color .3s;
    transition: color .3s;
    -webkit-text-decoration-skip: objects;
    transition: color .3s ease;
}

.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-header .icon {
    padding: 0 5px;
    color: rgba(0,0,0,.45);
    font-size: 16px;
    font-family: Arial,hiragino sans gb,microsoft yahei,'microsoft sans serif',sans-serif;
    line-height: 40px;
    height: 100%;
    cursor: pointer;
}

.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-header .year-prev {
    position: absolute;
    top: 0;
    display: inline-block;
    left: 7px;
}

.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-header .year-prev::before {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    border: 0 solid #aaa;
    border-width: 1.5px 0 0 1.5px;
    border-radius: 1px;
    -webkit-transform: rotate(-45deg) scale(.8);
    -ms-transform: rotate(-45deg) scale(.8);
    transform: rotate(-45deg) scale(.8);
    -webkit-transition: all .3s;
    transition: all .3s;
    content: '';
}

.form-genki-calendar-wrapper .form-genki-calendar-wrapper-year-quick-table {
    width: 100%;
}

.form-genki-calendar-wrapper .form-genki-calendar-wrapper-year-quick-td {
    height: 56px;
    text-align: center;
}
.form-genki-calendar-wrapper .form-genki-calendar-wrapper-year-quick-select,
.form-genki-calendar-wrapper .form-genki-calendar-wrapper-month-quick-select {
    display: inline-block;
    height: 24px;
    margin: 0 auto;
    padding: 0 8px;
    color: rgba(0,0,0,.65);
    line-height: 24px;
    text-align: center;
    background: 0 0;
    border-radius: 2px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    cursor: pointer;
}

.form-genki-calendar-wrapper .form-genki-calendar-wrapper-year-quick-select:hover,
.form-genki-calendar-wrapper .form-genki-calendar-wrapper-month-quick-select:hover {
    background: #e6f7ff;
    color: #40a9ff;
}
.form-genki-calendar-wrapper .active-quick-select-year {
    color: #fff;
    background: #1890ff;
}
.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-header .year-prev::after {
    position: relative;
    left: -3px;
    top: -1px;
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    border: 0 solid #aaa;
    border-width: 1.5px 0 0 1.5px;
    border-radius: 1px;
    -webkit-transform: rotate(-45deg) scale(.8);
    -ms-transform: rotate(-45deg) scale(.8);
    transform: rotate(-45deg) scale(.8);
    -webkit-transition: all .3s;
    transition: all .3s;
    content: '';
}


.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-header .month-prev {
    position: absolute;
    top: 0;
    display: inline-block;
    left: 29px;
}

.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-header .month-prev::before {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    border: 0 solid #aaa;
    border-width: 1.5px 0 0 1.5px;
    border-radius: 1px;
    -webkit-transform: rotate(-45deg) scale(.8);
    -ms-transform: rotate(-45deg) scale(.8);
    transform: rotate(-45deg) scale(.8);
    -webkit-transition: all .3s;
    transition: all .3s;
    content: '';
}

.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-header .month-next {
    position: absolute;
    top: 0;
    display: inline-block;
    padding: 0 5px;
    color: rgba(0,0,0,.45);
    font-size: 16px;
    font-family: Arial,hiragino sans gb,microsoft yahei,'microsoft sans serif',sans-serif;
    line-height: 40px;
    right: 29px;
    height: 100%;
}

.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-header .month-next::before {
    position: relative;
    top: -1px;
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    border: 0 solid #aaa;
    border-width: 1.5px 0 0 1.5px;
    border-radius: 1px;
    transform: rotate(135deg) scale(.8);
    -webkit-transition: all .3s;
    transition: all .3s;
    content: '';
}

.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-header .year-next {
    position: absolute;
    top: 0;
    display: inline-block;
    padding: 0 5px;
    color: rgba(0,0,0,.45);
    font-size: 16px;
    font-family: Arial,hiragino sans gb,microsoft yahei,'microsoft sans serif',sans-serif;
    line-height: 40px;
    right: 7px;
    height: 100%;
}
.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-header .year-next::before {
    position: relative;
    left: 3px;
    transform: rotate(135deg) scale(.8);
    position: relative;
    top: -1px;
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    border: 0 solid #aaa;
    border-width: 1.5px 0 0 1.5px;
    border-radius: 1px;
    -webkit-transition: all .3s;
    transition: all .3s;
    content: '';
}
.form-genki-calendar-wrapper .form-genki-calendar-wrapper-table-header .year-next::after {
    transform: rotate(135deg) scale(.8);
    position: relative;
    top: -1px;
    display: inline-block;
    width: 8px;
    height: 8px;
    vertical-align: middle;
    border: 0 solid #aaa;
    border-width: 1.5px 0 0 1.5px;
    border-radius: 1px;
    -webkit-transition: all .3s;
    transition: all .3s;
    content: '';
}

/** date-range **/
.form-genki-date-range-wrapper {
    width: 100%;
}
.form-genki-date-range-wrapper .form-genki-date-range-wrapper-input {
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    outline: none;
    cursor: text;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
    position: relative;
    display: inline-block;
    height: 32px;
    padding: 4px 11px;
    color: #bfbfbf;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    -webkit-transition: all .3s;
    transition: all .3s;
}
.form-genki-date-range-wrapper .form-genki-date-range-wrapper-input .form-genki-date-range-wrapper-icon {
    float: right;
}